body {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.header__menu {
  flex: 1;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  font-size: 18px;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  flex: 1;
  font-style: normal;
  font-style: inherit;
  line-height: 1.35;
}

.header__address {
  justify-content: end;
  font-size: 18px;
}

/* Cover */

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
  text-align: left;
}

.aligned-text_center {
  display: block;
  letter-spacing: 0.3em;
  text-align: center;
}

.aligned-text_right {
  display: block;
  letter-spacing: 0.3em;
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
}

/* Lots */

.lots {
  padding: 180px 50px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: auto;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  text-decoration: none;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid currentColor;
  font-size: 20px;
}

/* About */

.about {
  display: flex;
  gap: 25px;
  padding: 0 50px 180px;
}

.about__column {
  display: flex;
  flex: 0 0 430px;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 50px 90px;
}

.footer__address {
  flex: 1;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.footer__menu {
  display: flex;
  flex: 1;
  justify-content: center;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
}

.footer__menu-link {
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex: 1;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
}