/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  font-weight: 400;
  display: flex;
  gap: 33px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-underline-offset: 3px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
  cursor: default;
}

.header__logo {
  grid-column: 2;
  justify-self: start;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  display: block;
}

.address {
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  white-space: normal;
}

.header__address {
  justify-self: end;
  margin-left: 184px;
  text-underline-offset: 4px;
}

/* Cover */

.cover {
  position: relative;
  height: 757px;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px;
  color: #fff;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.9px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 87px;
}

.cover__title span {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.aligned-text {
  position: relative;
  text-align: left;
}

.aligned-text_center {
  position: relative;
  margin-left: 15px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  position: relative;
  right: -0.3em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-spacing: 19px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #ffd;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  color: #fff;
}

/* Lots */

.lots {
  margin: 180px auto 0;
  padding: 0 24px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin: 0 0 30px;
  list-style: none;
  padding: 0;
}

.lots__card-list-item {
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  align-items: start;
  gap: 95px;
  margin: 120px 0 0;
  padding: 0 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 21px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 136px 0 100px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin-bottom: 24px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  gap: 20px;
  margin: 180px auto 0;
  padding: 0 50px 82px;
  font-size: 18px;
}

.footer__address {
  justify-self: start;
  margin-right: 154px;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-content: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  text-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link {
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}